#tableSS {
    table-layout: fixed;
    border-collapse: collapse;
    height: max-content;
}

.tableCellSS {
    background-color: white;
    text-align: center;
    min-width: 7rem;
    border-top: 1px solid #00000076;
    transition: background-color .2s;
    
}

#tableHeadSS {

    border-top: none;
}

.tableHeadCellSS {
    border-top: none;
    border-bottom: 1.5px solid #000000;
    font-weight: bold;
}

.tableBodyCellSS {
    cursor: pointer;
}

.cellHighlightSS {
    background-color: #007bff3d;
    transition: background-color .2s;
}









