@import "tailwindcss";

:root {
  color-scheme: light dark;
  --background: #fdfdfd;
  --foreground: #0d0d0d;
  /* --primary: #0d0d0d;
  --secondary: #fdfdfd; */
  --primary: #007AFF;
  --secondary: #00c3c3;
  --screenBlack: #0d0d0d;
  --screenWhite: #fdfdfd;
  --screenGrey: #141414;
  --error: #ff1744;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-screenBlack: var(--screenBlack);
  --color-screenWhite: var(--screenWhite);
  --color-screenGrey: var(--screenGrey);
  --color-error: var(--error);
  --color-modalBackground: rgba(0, 0, 0, 0.7);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-sour-gummy);
  --font-subtitle: var(--font-geist-sans);
  --font-body: var(--font-geist-sans);
  --font-button: var(--font-geist-sans);
  --font-input: var(--font-geist-sans);
  --font-error: var(--font-geist-sans);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {}

@layer components {
  .whiteBox {
    background-color: white;
    /* border: 1px solid #007AFF; */
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    /* padding: 1rem; */

  }

  .btn {
    font-family: var(--font-button);
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--screenWhite);
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .btn:hover {
    /* background-color: light-dark(var(--screenWhite), var(--screenBlack)); */
    background-color: var(--screenWhite);

    color: var(--primary);
    transition: all 0.2s ease-in;
  }

  .cancelBtn {
    background-color: var(--error);
    border-color: var(--error);
  }

  .cancelBtn:hover {
    color: var(--error);
  }

  .navBtn {
    background-color: var(--primary);
    /* color: light-dark(var(--screenWhite), var(--screenWhite)); */
    /* border-color: light-dark(var(--primary), var(--screenBlack)); */
    color: var(--screenWhite);
    border-color: var(--primary);
  }


  .formCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  .inputTitle {
    margin-bottom: .8rem;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 1.2rem;
  }

  .inputCon {
    margin-bottom: 1rem;
  }

  /* .labelCon {

} */

  .labelTitle {
    margin-bottom: .3rem;
  }

  .error {
    color: var(--error);
    font-family: var(--font-error);
    font-size: 0.8rem;
    margin-top: .2rem;

  }

  .formInput {
    width: 200px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: .5rem;
    font-family: var(--font-input);
  }

  .formInput:focus {
    border-width: 1.7px;
    outline: none;
    box-shadow: 0px 0px 1.5px 0px var(--primary);
  }


  .submitCon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .confirmButtonCon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
  }

  .submitButton {}

  .submitButton:disabled {
    border: 1px solid #9bb4cf;
    background-color: #9bb4cf;
  }

  .confirmText {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: light-dark(var(--screenWhite), var(--screenBlack));
  color: light-dark(var(--screenBlack), var(--screenWhite)); */
  background: var(--screenWhite);
  color: var(--screenBlack);
  font-family: Arial, Helvetica, sans-serif;
}