/* @import "tailwindcss";

@theme inline {
  
} */

/* #modal-content {
  position: absolute;
  background-color: var(--screenWhite);
  border-radius: 20px;
  border: 1px solid var(--primary);
  max-width: 90%;
} */